<p id="notice"><%= notice %></p>
<%= link_to 'Todas las dudas', doubts_path %>
  <h1><%= @doubt.title %></h1>
<p>
  <%= @doubt.body %> | Respondida: <%= @doubt.resolved %> | Privacidad: <%= @doubt.privacy %>
</p>
<!-- Si la duda ya fue respondida o acordada una conferencia-->
<% if @doubt.offer? && (@doubt.user == current_user || @doubt.offer.user == current_user)%>
	


	<% if @doubt.resolved? %>
		<!-- Videoconferencia guardada -->
		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/qmJ84y4wTq8" frameborder="0" allowfullscreen></iframe></p>
		<!-- Seccion de comentarios-->
		<!-- - Formulario para crear comentario-->
		<%= render partial: "comments/form", locals: {commentable: @doubt} %>
		<!-- - Mostrar comentarios creados-->
		<%= render partial: "comments/comment" %>
	<% else %>


		<!-- Vamos a la conferencia-->
		<p><%= link_to 'Ir a conferencia', doubt_offer_start_conference_path(@doubt, @doubt.offer) %></p>
	<% end %>





<% else %>
	<!-- Si  aun no hay alguna oferta aceptada-->
	<%= render partial: "offers/offer" %>
<% end %>